@charset "utf-8";
.nav {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	color: #059E96;
	clear: left;
	float: left;
	width: 80px;
	font-style: italic;
}
